<!-- header -->
<nz-breadcrumb [ngStyle]="{'margin':'1% 1%'}">
    <nz-breadcrumb-item>
        <a [routerLink]="['/home']" routerLinkActive="active">
            <i nz-icon nzType="home"></i>
            <span>Home</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a [routerLink]="['/sell']" routerLinkActive="active">
            <i nz-icon nzType="user"></i>
            <span>Sell</span>
        </a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a [routerLink]="['/sell/sell-view']" routerLinkActive="active">
            <i nz-icon nzType="user"></i>
            <span>Profile</span>
        </a>
    </nz-breadcrumb-item>
</nz-breadcrumb>

<!-- table -->
<nz-table #basicTable [nzData]="listOfSellData">
    <thead>
      <tr>
        <th>Home ID</th>
        <th>Description</th>
        <th>Should Pay</th>
        <th>Already Paid Sell</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.sellout.sellout_id }}</td>
        <td>
          <b>HomeType:</b>{{ data.home_description.home_type }}
          <b>Location:</b>{{ data.home_description.location }}
          <b>Area:</b>{{ data.home_description.area }}
        </td>
        <td>{{ data.sellout.sellout_price}}</td>
        <td>{{ data.sellout.receive_sell}}</td>
        <!-- <td>
          <a (click)="updatepay(data)">Pay</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="updatestatus(data)">Cancel</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="updatesellinuser(data)">Delete</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>